:root {
    --bs-darkbrown: #D8B4A5;
    --main-text-color: #6A312E;
    --navbar-bg: #776E60;
    --card-desc: #FCE8C6;
    --search-bg: #cb9680;
}
body{
    min-width: 375px
}

body.BG{
    color: var(--main-text-color);
    background-color: var(--bs-darkbrown);
}
.navbar {
    background-color: var(--navbar-bg);
}

.nav-link {
    color: var(--bs-darkbrown);
}

.my-card {
    color: var(--navbar-bg);
    margin: .25em;
}

#indv-card{
    background-color: var(--navbar-bg);
    margin: 15px 0 15px 40px;
}

#search-button {
    background-color: #D8B4A5;
    color: var(--main-text-color);
}

#search-coffee-button{
    background-color: var(--navbar-bg);
}

#add-coffee-button{
    background-color: var(--navbar-bg);

}
