:root {
    --bs-darkbrown: #D8B4A5;
    --main-text-color: #6A312E;
    --navbar-bg: #776E60;
    --card-desc: #FCE8C6;
}

body.BG{
    color: var(--main-text-color);
    background-color: var(--bs-darkbrown);
}
.navbar {
    background-color: var(--navbar-bg);
    /*color: var(--bs-darkbrown);*/
}

.nav-link {
    color: var(--bs-darkbrown);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    width: 250px;
    height: 500px;
    margin: 10px;

}


#search-button {
    background-color: #D8B4A5;
    color: var(--main-text-color);
}

#search-coffee-button{
    background-color: var(--navbar-bg);
}

#add-coffee-button{
    background-color: var(--navbar-bg);

}
